{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "ignore": [
        "src/**/*.test.js",
        "src/**/__mocks__/*",
        "src/**/__test__/*",
        "src/**/__tests__/*"
      ]
    }
  }
}
